<div class="col-lg-12">
  <div class="card">
    <div class="card-title">
      <h4>Blog için kategori ekle</h4>

    </div>
    <div class="card-body">
      <div class="basic-form">
        <form #categoryAddForm="ngForm" (ngSubmit)="Add(categoryAddForm)">
          <div class="form-group">
            <label>Kategori Adı</label>
            <input (change)="isDirty=true" #name="ngModel" [(ngModel)]="category.name" type="text" class="form-control"
              id="name" name="name" required>
          </div>
          <div class="checkbox">
            <label>
              <input checked="checked" #active="ngModel" name="active" [(ngModel)]="category.active" type="checkbox">
              Aktif
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i
              class="ti-plus"></i>Ekle</button>
        </form>
      </div>
    </div>
  </div>
</div>