<div class="col-lg-12">
    <div class="card">
        <div class="card-title">
            <h4>Kategori Listesi </h4>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kategori Adı</th>
                            <th>Durumu</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{category.name}}</td>
                            <td *ngIf="category.active; else pasif"><span class="label label-primary">Aktiv</span></td>
                            <td>
                                <i (click)="deleteCategory(category)" style="cursor: pointer;" class="ti-trash"></i> 
                                <a routerLink="/category-update/{{category.id}}"><i style="cursor: pointer;" class="ti-marker-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #pasif>
    <td><span class="label label-danger">Pasif</span></td>
</ng-template>