<div class="col-lg-12">
    <div class="card">
        <div class="card-title">
            <h4>Kategori Listesi </h4>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kategori Adı</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{category.name}}</td>
                            <td><i style="cursor: pointer;" class="ti-trash"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>