<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>ADMIN |ismlslck</title>
</head>

<body id="body" class="fix-header fix-sidebar">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        <app-header></app-header>
        <app-left-sidebar></app-left-sidebar>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">{{title}}</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div [hidden]="!globalService.isRequest" style="text-align: center;background:white;"><img src="/src/assets/admin/images/loading.gif"></div>
                <div [hidden]="globalService.isRequest">
                    <simple-notifications></simple-notifications>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</body>

</html>