<div class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li>
                    <a class="" href="#" aria-expanded="false"><i class="fa fa-home"></i>
                    <span class="hide-menu">Anasayfa</span></a>
                </li> 
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Blog</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="table-bootstrap.html">Ekle</a></li>
                        <li><a href="table-datatable.html">Listele</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-list"></i><span class="hide-menu">Kategori</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/category-add">Ekle</a></li>
                        <li><a routerLink="/category-list">Listele</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>